<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" use-expressions="true">
		<custom-filter position="SWITCH_USER_FILTER" ref="switchUserProcessingFilter" />
		<intercept-url pattern="/login.htm" access="permitAll" />
		<intercept-url pattern="/j_spring_security_switch_user" access="hasRole('ROLE_SUPERVISOR')"/>
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
		<form-login login-page="/login.htm"/>
		<logout logout-success-url="/login.htm"/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service id="userDetailsService">
				<user name="alice" password="alice" authorities="ROLE_USER, ROLE_SUPERVISOR" />
				<user name="bob" password="bob" authorities="ROLE_USER" />
				<user name="charlie" password="charlie" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

	<b:bean id="switchUserProcessingFilter" class="com.blogspot.nurkiewicz.switchuser.SwitchUserOnceFilter">
		<b:property name="userDetailsService" ref="userDetailsService"/>
		<b:property name="targetUrl" value="/"/>
	</b:bean>

</b:beans>
